parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getName\\(\\) on ReflectionType\\|null\\.$#"
			count: 2
			path: Classes/DependencyInjection/HandlerMapping/TypeHintMapping.php

		-
			message: "#^Cannot call method isBuiltin\\(\\) on ReflectionType\\|null\\.$#"
			count: 1
			path: Classes/DependencyInjection/HandlerMapping/TypeHintMapping.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: Tests/Unit/DependencyInjection/Compiler/BusBuilder/BusBuilderTest.php
